files:
  "/etc/php.d/99-timezone.ini":
    mode: "000644"
    owner: root
    group: root
    content: |
      date.timezone=UTC

container_commands:
  01-storage:
    command: "chmod -R 775 /var/app/current/storage /var/app/current/bootstrap/cache"
  02-key-generate:
    command: "php artisan key:generate --force"
    leader_only: true
  03-migrate:
    command: "php artisan migrate --force"
    leader_only: true
